body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #e61414;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.timer-container, .stopwatch-container {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

 
}

.time {
  font-size: 2.5em;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  margin: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  transform: scale(0.95);
}

h1 {
  font-size: 1.5em;
  margin-bottom: 15px;

}

input[type="number"] {
  padding: 5px;
  width: 60px;
  text-align: center;
}
